*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;

  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;

  color: #424242;
  background-color: #ffffff;
  
}

ul {
  list-style: none;
  padding: 0;
 
}

a {
  text-decoration: none;
  color: #292929;
}



/*******header******/
.header-content {
  padding: 30px 275px;
}

.header-content-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  white-space: nowrap;
}

.header-content-navigation-list {
  display: flex;
    
}

.header-content-navigation-list li:first-child {
  padding-left: 70px;
}

.header-content-navigation-list > li {
  padding-right: 70px;
}

.header-content-navigation-list-btn {
  display: flex;
  }

.header-content-navigation-list-btn li:first-child {
  padding-right: 35px;
}

.header-content-navigation-list-btn > a {
  color: black;
}

.btn {
  padding: 20px 50px;

  color: white;
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;

}

/*be aware */

.be-aware {
  padding: 175px 0 0 275px;
  margin-bottom: 170px;
  height: 895px;
 
  background:url("../images/BG.jpg");
 
}



.be-aware-h1 {
font-family: Georgia;
font-style: normal;
font-weight: bold;
font-size: 65px;
line-height: 74px;

color: #01996D;

margin-bottom: 30px;
}
.be-aware p {
  margin-bottom: 55px;
  width:420px;
  line-height: 31px;

color: #484848;
}

.be-aware-btn {
 padding: 20px 50px;
  display: inline-block;
  color: white;
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;

  white-space: nowrap;
}

/****How it work******/

.how-it-work {
  margin: 0 232px 50px 275px;
}

.how-it-work-flex {
  display:flex;
  justify-content: space-between;
  
  margin-bottom: 50px;
}

.how-it-work-flex-p {
  width: 670px;

}

h2 {
  font-family: Georgia;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 157%;

color: #01996D;
}

.how-it-work-flex-2 {
  display: flex;
  justify-content: space-between;
}

.how-it-work-flex-2 li {
  width: 390px;
  position: relative;
}

.how-it-work-flex-2-number {
  font-family: Georgia;

  font-size: 150px;
  line-height: 225px;

  color: rgba(1, 153, 109, 0.2);
}

.how-it-work-flex-2  li  h3 {
  position: absolute;
  left: 75px;
  top: 130px;

  font-family: Georgia;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.how-it-work-flex-2 li p {
  margin-bottom: 40px;
}

.how-it-work-flex-2 li:nth-child(1) {
  margin-top: 25px;
}

.how-it-work-flex-2 li:nth-child(2) {
  margin-top: 230px;
}

/********About*****/

.about {
  padding: 230px 205px 175px;

  background-color: #245852;
  color: #fff;

  display: flex;
  justify-content: space-between;
}

.about p {
  margin-bottom: 55px;
}

video {
  border-radius: 16.3326px;
}

.about h2{
  margin-bottom: 35px;

   color: #fff;
}

/*********Our product*********/

.product {
  padding: 120px 275px 170px;

  display: flex;
  justify-content: space-between;

  position: relative;
}

.product-img {
  margin-left: 60px;
}

.product-way {
  width: 584px;
}

.product-way-first-p {
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;
  margin-bottom: 10px;
}

.product-way-second-p {
  margin-top:20px;
  margin-bottom: 60px; 
}

.product-karta {
  width: 297px;
  height: 294px;
  padding-top: 20px;
  color: #000;

  position: absolute;
  bottom: 75px;

  background-color: #fff;
  border-radius: 4px;
  filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
  text-align: center;

}

.product-karta-underline {
  font-weight: 600;
  font-size: 14.49px;
  line-height: 23px;

}

.product-karta-underline::after {
  content: "";
  display: block;
  margin: 7px auto 13px;
  width: 110px;
  height: 0.75px;

  background-color: #000000;

}

.product-karta-name {
  margin: 10px auto 20px;
  font-size: 12px;
  line-height: 19px;

}

.product-karta-content {
  padding-left: 60px;
  margin-bottom: 16px;
  text-align: left;
  font-family: Georgia;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;

}

.product-karta-list {
  font-size: 11px;
  line-height: 17px;
  padding-left:75px; 
  list-style-type: disc;
  text-align: left;

}

.product-karta-list li {
  margin-bottom: 16px;
}

/***Footer***/

.footer-navigation {
  padding: 95px 0px 145px 275px;
  background-color: #245852;
  color: #fff;

}

.footer-navigation-list li{
  padding-bottom: 60px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.footer-navigation-list li:first-child {
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  
}

.footer-navigation-list li a {
  color: #fff;
}